
{% for message in messages %}
    {% if message['role'] == 'user' %}
        {{- '<|start_header_id|>user<|end_header_id|>\n\n' + message['content'] + '<|eot_id|>' }}
    {% elif message['role'] == 'assistant' %}
        {{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
        {% generation %}
        {{- message['content'] + '<|eot_id|>' }}
        {% endgeneration %}
    {% endif %}
{% endfor %}
{% if add_generation_prompt %}
    {{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
{% endif %}
